body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: repeating-linear-gradient(
  45deg,
  #001933,
  #001933 4px,
  #00264d 4px,
  #00264d 8px
  );
}

a {
  color: #00B7FF;
}

.row{
	height:100%;
	background: repeating-linear-gradient(
  45deg,
  #f2faff,
  #f2faff 3px,
  #e5f5ff 3px,
  #e5f5ff 6px
  );
}

.historyrow{
	height:88%;
	overflow:scroll;
}

.historydiv{
	border-bottom: #b3e2ff 0.2em dotted;
	padding-top:0.2em;
	padding-bottom: 0.2em;
}

.container{
	height: 100%;
	width:100%;
	margin:0em;
	padding:1em;
}

.div-box{
	padding:0em;
	height:100%;
	border: #b3e2ff 0.2em solid;
}

.box-top{
	margin:0em;
	border-top: #b3e2ff 0.2em solid;
}

.div-middle{
	border-left: none;
	border-right: none;
}

.main-title{
	padding:0em;
	margin:0em;
	margin-left: auto;
	margin-right: auto;
	color:#f2faff;
}

.header-title{
	margin-left: auto;
	margin-right: auto;
}

.value-bad{
	color:#ff0000;
}

.value-good{
	color:#009900;
}

.coloured-data{
	color:#0000cc;
}

.datatext{
	font-size: 3em;
}

.datatextsmall{
	font-size: 1.1em;
}

html, body {
	padding: 0em;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 3em;
    height:100%;
}

h1{
	padding:0%;
	font-size: 390%;
}

h2{
	padding:0%;
	font-size: 270%;
}

h3{
	padding:0%;
	font-size: 220%;
}